@charset "utf-8";
/* CSS Document */


/***************************全局样式***************************/
*{
	margin: 0px;
	padding: 0px;
}
ul li{ list-style:none;}
body { font-size:14px; font-family:"Microsoft Yahei"; background:#f7f7f7;}
a{ text-decoration:none; color: black;}
img{ border: none;}
.clearfloat{ clear:both;}

/**************************登录栏样式***************************/
#sign .sign_c{ width: 1200px; height: 28px; margin: auto; overflow:hidden;}
#sign .sign_01 { width: 560px; height: 28px; background: #f7f7f7; position:absolute; z-index:30}
#sign .sign_01:first-child{ padding-left:0px;}
#sign .sign_02 { width: 640px; height: 28px; background: #f7f7f7; margin-left:560px; float:left; position:absolute; z-index:1 }
#sign .sign_02>img{ margin:7px 0px 0px 10px; float:left;}
#sign ul li{ height: 12px; float: left; border-right: #b1b1b1 1px solid; font-size: 12px; line-height: 12px; margin-top: 8px; padding: 0px 10px; position:relative; }
#sign ul li a{ color: black;}
#sign ul li img { float:right; margin:4px 0px 10px 4px;}
#sign .sign_02 .img{ float:left; margin:8px 5px 0px 0px;}
#sign ul li a:hover{ color:#c30d23}
#sign ul li:hover img{ -webkit-transform: rotateZ(180deg); transform: rotateZ(180deg);}
.huodong { width: 100%; height: 100%; z-index:-1;}
#sign .sign_01 .add { width:300px; height:253px; padding-top:8px; display:none; background: white;}
#sign .sign_01 .add li { width:300px; height:49px; margin:0px; padding:0px; float:left} 
#sign .sign_01 .add li span{ width:60px; height:49px; float:left; text-align:center; line-height:49px;}
#sign .sign_01 .add li span:hover { color:#FFF; background:#c30d23}
#sign .sign_01 li:hover .add { display:block;}

/**************************搜索栏样式***************************/
#search { width: 1200px; height: 118px; margin: auto; margin-top:27px;}
#search img { float:left;}
#search dl { width:570px; height:75px; margin-left:142px; float: left;}
#search dl dt { width:570px; height:40px;}
#search dl dt img { width:40px; height:38px; border:1px solid #c30d23}
#search dl dt .search_01 { width:408px; height:38px; border:1px solid #c30d23; float:left; font-size:16px; color:#c3c3c3; padding-left:5px; outline: none;}
#search dl dt .search_02 { width:115px; height:40px; color:white; background:#c30d23; border:1px solid #c30d23; font-size:16px; letter-spacing:20px; padding-left:21px; }
#search dl dd { width: 570px; height: 23px; padding-top: 12px }
#search dl dd a { color: #858585; margin-right: 5px}
#search dl dd a:hover{ color: #c30d23}
#search p { width: 180px; height: 75px; float: right; overflow: hidden;}
#search p font { width: 110px; height: 40px; background: #cecece; float: left; text-align: center; line-height: 40px; margin-top: 18px; overflow: hidden;}
#search p span { width: 70px; height: 40px; background: #c30d23; float: right; margin-top: 18px; color: white; line-height: 40px; font-size: 12px; overflow: hidden;}
#search p span img { margin: 10px 5px 0px 13px;}
#search h4 { width: 230px; height: 37px; float: left; background: #9f0618; margin-top: 6px; font-size: 16px; color: white; text-align: center; line-height: 37px; overflow: hidden;}
#search h4 img { float: right; margin: 14px 16px 0px 0px;}
#search h3 { width: 935px; height: 37px; float: left; line-height: 37px; margin-top: 6px; padding-left: 35px; }
#search h3 a { color: black; font-size: 16px; margin-right: 20px; font-weight: normal;}
#search h3 a:hover { color: #c30d23; font-weight: 600;}

/**************************banner栏样式***************************/
#banner_all { width: 100%; height: 578px; background: #f1d72d; border-top: 2px #c30d23 solid; }
.flexslider {margin: 0px auto 20px;position: relative;width: 1200px;height: 580px;overflow: hidden;}

.flexslider .slides li {width: 1200px;height: 580px;list-style:none;}
.flex-direction-nav a {width: 70px;height: 70px;line-height: 99em;overflow: hidden;margin: -35px 0 0;display: block;background:url(../images/ad_ctr.png) no-repeat;position: absolute;top: 50%;z-index: 10;cursor: pointer;opacity: 0;filter: alpha(opacity=0);-webkit-transition: all .3s ease;border-radius: 35px;}
.flex-direction-nav .flex-next {background-position: 0 -70px;right:200px;}
.flex-direction-nav .flex-prev {left: 200px;}
.flexslider:hover .flex-next {opacity: 0.8;filter: alpha(opacity=25);}
.flexslider:hover .flex-prev {opacity: 0.8;filter: alpha(opacity=25);}
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {opacity: 1;filter: alpha(opacity=50);}
.flex-control-nav {width: 1200px;height: 55px;position: absolute;bottom: -20px;text-align: center;}
.flex-control-nav li {display: inline-block;zoom: 1;*display: inline; margin-right:5px;}
.flex-control-paging li a {display: block;height: 20px;overflow: hidden;width: 20px;cursor: pointer;background: black;border-radius: 10px;border-radius: 10px;border-radius: 10px; color:#FFF}
.flex-control-paging li a:hover { background:red; transition:0.2s;}
.flex-control-paging li a.flex-active,
.flex-control-paging li.active a {background-position: 0 0;}
.flexslider .slides a img { width: 1200;height: 580px; display: block;}

.flexslider>dl{ width: 230px; height: 580px; position: absolute; z-index: 10;}
.flexslider>dl dd{ width: 230px; height: 57px; float: left; border-bottom: 1px solid white; background: #d30f27;}
.flexslider>dl dd h3{ width: 230px; height: 20px; font:16px; font-weight:normal; color:white; margin-top:10px; line-height:20px; background: none; }
.flexslider>dl dd h3 span{ width: 21px; height: 21px; float: left; margin: 0px 15px; background:url(../images/yinliaob.png) no-repeat center;}
.flexslider>dl dd h3 p{ width:20px; height: 20px; float: right; margin-right:11px; background:url(../images/jiantou.png) no-repeat center top -14px ; }
.flexslider>dl dd h4{ width:185px; height:20px; font-size:12px; padding:5px 0px 0px 50px; background: none; font-weight:normal; line-height: 20px; overflow: hidden; }
.flexslider>dl dd h4 a{ background: none; color: #eeeeee;}
.flexslider>dl dd:nth-child(2) h3 span{ background:url(../images/liangyou.png)}
.flexslider>dl dd:nth-child(3) h3 span{ background:url(../images/xihu.png)}
.flexslider>dl dd:nth-child(4) h3 span{ background:url(../images/muying.png)}
.flexslider>dl dd:nth-child(5) h3 span{ background:url(../images/qingjie.png)}
.flexslider>dl dd:nth-child(6) h3 span{ background:url(../images/dianqi.png)}
.flexslider>dl dd:nth-child(7) h3 span{ background:url(../images/fuzhuang.png)}
.flexslider>dl dd:nth-child(8) h3 span{ background:url(../images/xiebao.png)}
.flexslider>dl dd:nth-child(9) h3 span{ background:url(../images/yingyin.png)}
.flexslider>dl dd:last-child h3 span{ background:url(../images/shengxian.png)}

.flexslider .daohang{ width: 744px; height: 377px; background: white; margin-left: 230px; float: left; list-style: none; position: absolute; overflow: hidden; display: none;}
.flexslider .daohang li{ width: 247px; height: 347px; margin: 15px 0px; border-right: 1px solid #aaaaaa; background: white; overflow: hidden; float: left;}
.flexslider .daohang li:last-child{ border: none;}
.flexslider .daohang li h2{ width: 217px; height: 24px; background: none; font-size: 12px; padding: 0px 22px ;}
.flexslider .daohang li h2 a{ color: black; background: none;}
.flexslider .daohang li p{ width: 217px; background: none; font-size: 12px; padding: 0px 20px; overflow: hidden; margin-bottom: 20px;}
.flexslider .daohang li p a{ color: black; padding: 0px 3px; line-height: 20px; background: none}
.flexslider .daohang li p a:hover{ color: #c30d23}
.flexslider .daohang .banner_c a{ width: 50px; height: 20px; display: block; text-align: left; float: left; margin-right: 15px;}
.flexslider dl dd:hover{ background: white;}
.flexslider dl dd:hover h4>a{ color: #c30d23;}
.flexslider dl dd:hover h3{ color: #c30d23;}
.flexslider dl dd:hover h3 span{ background:url(../images/yinliaoh.png) no-repeat center;}
.flexslider dl dd:hover h3 p{ background:url(../images/jiantou.png) no-repeat center top 5px;}
.flexslider dl dd:hover .daohang{ display: block;}

.banner_r{ width: 229px; height: 580px; background: #f1f1f1; position: absolute; z-index: 30; left: 971px;}
.banner_r .banner_r_news{ width: 229px; height: 305px; overflow: hidden; background: #f1f1f1;}
.banner_r .banner_r_news dt{ width: 209px; height: 42px; border-bottom: 1px dashed #575757; color: #575757; font-size: 14px; line-height: 42px; margin:0px 10px;background: #f1f1f1;}
.banner_r .banner_r_news dd{ width: 209px; height: 15px; color: #575757; font-size: 12px; margin:12px 10px 0px 10px; background: none;}
.banner_r .banner_r_news dd:last-child{ border-top: 1px #575757 dashed;}
.banner_r .banner_r_recharge{ width: 229px; height: 155px; overflow: hidden; padding-top: 8px; border-bottom: 1px #575757 dashed; background: #f1f1f1;}
.banner_r .banner_r_recharge li{ width: 209px; margin:0px 12px; color: #afafaf; font-size: 12px; overflow: hidden;}
.banner_r .banner_r_recharge li span{ width:103px; height: 20px; float: left; text-align: center; border: solid 1px #575757; }
.banner_r .banner_r_recharge li span:first-child{ border: solid 1px #d30f27; border-bottom: none;}
.banner_r .banner_r_recharge li span:last-child{ border-left: none; border-bottom: solid 1px #d30f27; }
.banner_r .banner_r_recharge li span a{ color: #575757;}
.banner_r .banner_r_recharge li span:first-child:hover{ border: solid 1px #d30f27; border-bottom: none;}
.banner_r .banner_r_recharge li span:last-child:hover{ border: 1px solid #d30f27; border-left: none; border-bottom: none; }
.banner_r .banner_r_recharge li form input{ width: 206px; height: 20px; border:1px solid #dcdcdc; outline: none; margin-top: 10px;}
.banner_r .banner_r_recharge li form input:-webkit-input-placeholder{ color:#afafaf;}
.banner_r .banner_r_recharge li select{ width: 208px; border:1px solid #dcdcdc; outline: none; border-top: none;}
.banner_r .banner_r_recharge li select option:first-child{ color: #afafaf;}
.banner_r .banner_r_recharge p{ width: 206px; font-size: 12px; margin: 15px 0px 0px 12px; overflow: hidden; color: #afafaf; background: none; }
.banner_r .banner_r_recharge p>span{ margin-left: 10px; overflow: hidden; color: #c30d23; background: none;}
.banner_r .banner_r_recharge>form{ background: none;}
.banner_r .banner_r_recharge>form input{ width: 138px; height: 21px; margin-left:45px; background: #d30f27; border: none; color: white;}
.banner_r>h3{ width: 209px; height: 110px; margin: auto; overflow: hidden; font-weight: normal; font-size: 12px; background: #f1f1f1;}
.banner_r h3 span{ width: 33%; height: 36px; display: block; float: left; overflow: hidden; background:url(../images/chongzhi.png) no-repeat center; margin-top: 20px;}
#banner_all .banner_r h3 span:nth-child(1){background:url(../images/chongzhi.png) no-repeat center top 0px;}
#banner_all .banner_r h3 span:nth-child(2){background:url(../images/chongzhi.png) no-repeat center top -40px;}
#banner_all .banner_r h3 span:nth-child(3){background:url(../images/chongzhi.png) no-repeat center top -77px;}
#banner_all .banner_r h3 font{width: 33%; text-align: center; display: block; float: left; overflow: hidden; margin-top: 15px; background: #f1f1f1;}

/**************************热卖品牌栏样式***************************/
#brand{ width: 1200px; height: 444px; margin: auto; overflow: hidden;}
#brand h2{ margin: 20px 0px 10px 0px; font-size: 18px; font-weight: normal;}
#brand .brand_img img{ height:369px; float: left;}
#brand .brand_img ul{width: 721px; height: 369px; float: left; overflow: hidden;}
#brand .brand_img ul li{width: 119px; height: 91px; float: left; border-top: 1px solid #e2e2e2; border-left: 1px solid #e2e2e2; overflow: hidden;}
#brand .brand_img ul li:nth-child(19){ border-bottom: 1px solid #e2e2e2;}
#brand .brand_img ul li:nth-child(20){ border-bottom: 1px solid #e2e2e2;}
#brand .brand_img ul li:nth-child(21){ border-bottom: 1px solid #e2e2e2;}
#brand .brand_img ul li:nth-child(22){ border-bottom: 1px solid #e2e2e2;}
#brand .brand_img ul li:nth-child(23){ border-bottom: 1px solid #e2e2e2;}
#brand .brand_img ul li:nth-child(24){ border-bottom: 1px solid #e2e2e2;}
#brand .brand_img ul li:nth-child(6n){ border-right: 1px solid #e2e2e2;}
#brand .brand_img ul li img{ width: 100%; height: 100%;}
#brand .brand_img ul li img:hover{ transform: scale(1.3); -webkit-transform: scale(1.3); transition:.3s; }
#brand ol{ width:241px; height: 369px; overflow: hidden; float: right; }
#brand ol li{ width: 239px; height: 91px;  overflow: hidden; border-top: 1px solid #e2e2e2; border-right: 1px solid #e2e2e2;}
#brand ol li:nth-child(4){ border-bottom: 1px solid #e2e2e2;}
#brand ol li img{ width: 100%; height: 100%;}
#brand ol li img:hover{ transform: scale(1.3); -webkit-transform: scale(1.1); transition:.3s;}

/**************************今日特卖栏样式***************************/
.sale{ width: 1200px; height: 21px; margin: auto; overflow: hidden; background:url(../images/xing-che.png)  no-repeat left 3px; margin-bottom: 5px; }
.sale strong{ float: left; line-height: 21px; font-size: 18px; color: #d30f27; margin-left:25px; font-weight:normal;}
.sale font{ color:#d30f27; margin-left: 4px; line-height: 26px; }
.stepcarousel { width: 1200px; height: 608px; position: relative; margin: auto; padding: 0px; background: white; overflow: hidden;}
.stepcarousel .belt { left: 0px; top: 0px; width: 1200px; height: 205px; position: absolute; list-style: none;}
.belt .panel { overflow: hidden; width: 299px; height: 204px; border-right: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; float: left;}
.stepcarousel a:nth-child(4n) .panel{ border-right: none;}
.stepcarousel .panel img{ float: right;}
.stepcarousel .panel .subfeature-txt{ width: 140px; height: 205px; float: left; position: relative; background: white; }
.stepcarousel .panel .subfeature-txt h2 { font-size: 14px; font-weight: normal; color: #8c8c9a; margin: 40px 0px 0px 30px; }
.stepcarousel .panel .subfeature-txt h3 { font-size: 16px; margin: 8px 0px 0px 30px; color: black; }
.stepcarousel dl{ width: 720px; height: 403px; overflow: hidden; top: 205px; position: relative; float: left;}
.stepcarousel dl .sale_b{ width: 242px; height: 403px; background: #fce9ff; float: left;}
.stepcarousel dl dd{ width: 238px; height: 201px; float: left; overflow: hidden; border-bottom: 1px solid #d5d5d5;}
.stepcarousel dl dd h3{ width: 188px; font-size: 16px; margin: auto; text-align: center; color: black; padding-top: 20px;}
.stepcarousel dl dd h4{ width: 188px; font-size: 14px; color:#8c8c9a; font-weight: normal; margin: auto; padding: 5px 0px; overflow: hidden; text-align: center;}
.stepcarousel dl dd p{ width: 70px; border-radius: 5px; background: #d30f27; color: white; margin: auto; margin-bottom: 10px; overflow: hidden; text-align: center;}
.stepcarousel dl dd img{ display: block; margin: auto;}
.stepcarousel dl dd:nth-child(3){ width: 237px; border-left: 1px solid #d5d5d5;}
.stepcarousel dl dd:nth-child(5){ border-left: 1px solid #d5d5d5;}
.stepcarousel dl .sale_b h3{ border-bottom: dashed 1px #bfbfc6; padding: 20px 0px 12px 0px;}
.stepcarousel dl .sale_b h4{ text-align: left; padding-top: 10px;}
.stepcarousel dl .sale_b p{ width: 188px; background: #d30f27; color: white; margin: auto; margin-bottom: 10px; overflow: hidden; text-align: left;}
.stepcarousel dl .sale_b h5{ width: 188px; font-size: 20px; color: #d30f27; margin: auto; font-weight: 600; overflow: hidden}
.stepcarousel .sale_r{ width:480px;  float: right;}
.stepcarousel .sale_r dd:last-child{ border: none;}
.stepcarousel .sale_r dd:first-child{ background: #fee3e5;}

/**************************饮料零食栏样式***************************/
.floor { width: 1200px; height: 21px; margin:15px auto 5px auto; overflow: hidden;}
.floor span{ width: 5px; height: 20px; float: left; background: #ff9228; display: block;}
.floor strong{ float: left; line-height: 21px; font-size: 18px; color: #ff9228; margin-left:6px; font-weight:normal;}
.floor font{ color:#ff9228; margin-left: 4px; line-height: 26px; }
.food_all{ width: 1200px; height: 558px; margin: auto; border-top: 1px solid #ff9228; }
.food_all .food_l{ width: 245px; height: 558px; float: left;}
.food_all .food_l ul{ width: 245px; height: 278px; background: #ff9228; overflow: hidden; }
.food_all .food_l ul li{ width: 245px; height: 33px; color: white; text-align: center; font-size: 16px; overflow: hidden; line-height: 33px; padding: 0px 7px; cursor: pointer;}
.food_all .food_l p{ width: 245px; height: 278px; background: #ff9228; border-top: 1px solid white; overflow: hidden; }
.food_all .food_l p font{ width: 245px; height: 30px; font-size: 26px; font-weight: 400; float: left; color: white; margin: 10px 0px 10px 25px; overflow: hidden; }
.food_all .food_l span{ width: 47px; height: 20px; background: white; margin-left: 25px; border-radius: 5px; color: #ff9228; font-size: 16px; float: left; overflow: hidden; text-align: center;}
.food_all .food_l .Tab_li{ background: white; color: #ff9228; border-left: 1px solid #ff9228; }
.food_all .tab_1_r{ display: none;}
.food_all .tab_1_r dl{ width: 807px; height: 558px; float: left; padding-left: 4px; background: white; }
.food_all .tab_1_r dl dd{ width: 200px; height: 278px; border-bottom: 1px solid #ff9228; float: left; border-right: 1px solid #ff9228; }
.food_all .tab_1_r dl a:nth-child(4n) dd{ border-right: none;}
.food_all .tab_1_r dl dd h4{ width: 200px; font-size: 12px; font-weight: normal; text-align: center;}
.food_all .tab_1_r dl dd h5{ height: 34px; color: #d30f27; font-size: 20px; font-weight: normal; line-height: 34px; margin: 20px 0px 0px 25px; background: url("../images/xing-che.png") no-repeat right 40px top -20px; }
.food_all .tab_1_r dl dd h5 span { color: black; font-size: 14px; }
.food_all .tab_1_r .food_a{ width: 144px;}
.food_all .tab_1_r .food_a>img{ width: 144px; float: right;}
.food_all div:nth-child(2){ display: block;}


/**************************美容洗护栏样式***************************/
.floor .floor_2{ background: #ff90a0;}
.floor .floor_2_s{ color: #ff90a0;}
.floor .floor_2_f{ color: #ff90a0;}
.floor_2_a{ border-top: 1px solid #ff90a0;}
.food_all .food_l .floor_2_l{ background: #ff90a0; }
.food_all .food_l .Tab_li_2{ background: white; color: #ff90a0; border-left: 1px solid #ff9228;}
.food_all .food_l .floor_2_l_p{ background: #ff90a0;}
.food_all .food_l .floor_2_l_p span{ color: #ff90a0;}
.food_all .tab_1_r .floor_2_c dd{ border-right: 1px solid #ff90a0; border-bottom: 1px solid #ff90a0;}


/**************************服装鞋包栏样式***************************/
.floor .floor_3{ background: #f59cec;}
.floor .floor_3_s{ color: #f59cec;}
.floor .floor_3_f{ color: #f59cec;}
.floor_3_a{ border-top: 1px solid #f59cec;}
.food_all .food_l .floor_3_l{ background: #f59cec; }
.food_all .food_l .Tab_li_3{ background: white; color: #f59cec; border-left: 1px solid #f59cec;}
.food_all .food_l .floor_3_l_p{ background: #f59cec;}
.food_all .food_l .floor_3_l_p span{ color: #f59cec;}
.food_all .tab_1_r .floor_3_c dd{ border-right: 1px solid #f59cec; border-bottom: 1px solid #f59cec;}


/**************************服装鞋包栏样式***************************/
.floor .floor_4{ background: #ff77ad;}
.floor .floor_4_s{ color: #ff77ad;}
.floor .floor_4_f{ color: #ff77ad;}
.floor_4_a{ border-top: 1px solid #ff77ad;}
.food_all .food_l .floor_4_l{ background: #ff77ad; }
.food_all .food_l .Tab_li_4{ background: white; color: #ff77ad; border-left: 1px solid #ff77ad;}
.food_all .food_l .floor_4_l_p{ background: #ff77ad;}
.food_all .food_l .floor_4_l_p span{ color: #ff77ad;}
.food_all .tab_1_r .floor_4_c dd{ border-right: 1px solid #ff77ad; border-bottom: 1px solid #ff77ad;}


/**************************底部栏样式***************************/
#bottom{ width: 1200px; height: 470px; margin:20px auto; background: white;}
#bottom ol{ width: 1090px; height: 74px; margin: 25px auto; border-top: 1px solid #bfbfbf; border-bottom: 1px solid #bfbfbf; overflow: hidden; padding: 25px 40px 25px 70px;}
#bottom ol>li{ width: 235px; height:75px; border-right: 1px solid #bfbfbf; float: left; margin-right: 40px; list-style: none; overflow: hidden;}
#bottom ol>li:first-child{ background: url(../images/bottom.png) no-repeat left 5px ; margin-left: 20px; }
#bottom ol>li:nth-child(2){ background: url(../images/bottom.png) no-repeat left -88px ;}
#bottom ol>li:nth-child(3){ background: url(../images/bottom.png) no-repeat left -184px ;}
#bottom ol>li:last-child{ background: url(../images/bottom.png) no-repeat left -278px; border-right: none; margin-right: 0px;}
#bottom ol>li h3{ margin: 14px 0px 0px 75px;}
#bottom ol>li p{  margin: 6px 0px 0px 75px; color: #666666;}
#bottom ul{ width: 1200px; height: 145px; margin: 30px auto; overflow: hidden; }
#bottom ul>li{ width: 100px; height: 145px; float: left; margin: 0px 30px;}
#bottom ul>li:first-child{ margin-left: 70px;}
#bottom ul>li dl dt{ font-weight: 900;}
#bottom ul>li dl dd{ margin-top: 6px; color: #666666;}
#bottom ul>li span{ font-weight: 900; margin: 0px 0px 8px 5px;}
#bottom p{ width: 1200px; height: 15px; text-align: center; margin-bottom: 10px; font-size: 12px; color: #666666; }
#bottom p>span{ width: 3px; height: 12px; background: #666666; margin: 0px 5px;}











																/*******************************浏览器左侧**********************/

#liu_left{ width: 50px; height: 300px; border: 2px solid red; position:fixed; left: 0; top: 300px; z-index: 9999999;}
#liu_left li{}
#liu_left li a{}










